# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/

# Virtual environment
venv/

# Editors / IDEs
.idea/
*.iml
.vscode/ # VS Code
.DS_Store # macOS
Thumbs.db # Windows
