#version: '3.8'  # Использована более новая версия

networks:
  servers-network:
    driver: bridge
    external: false
    name: servers-network

services:

  llama-server:
    image: ghcr.io/ggml-org/llama.cpp:server
    container_name: llama-server
    hostname: llama-server
    ports:
      - "8080:8080"
    volumes:
      - ~/docker-share/models:/work/models
    environment:
      GGML_CPU_N_THREADS: 16
    command: >
      --model /work/models/qwen2.5-3b-instruct-q6_k.gguf
      --port 8080
      --host 0.0.0.0
      --ctx-size 2048
      --no-mmap
      --n-gpu-layers 0
    deploy:  # Исправлено: ресурсы теперь в разделе deploy
      resources:
        limits:
          memory: 16G
          cpus: '8'
    restart: unless-stopped
    networks:
      - servers-network

  vm-dashboard:
    image: arina/sber:master
    container_name: vm_dashboard
    hostname: vm_dashboard
    ports:
      - "8050:8050"
      - "8501:8501"
    volumes:
      - ~/Work/Sber/servers/data:/work/data
    environment:
      DASH_DATA_DIR: "${DASH_DATA_DIR:-/app/data}"
      STREAMLIT_SERVER_PORT: "${STREAMLIT_PORT:-8501}"
      STREAMLIT_SERVER_ADDRESS: 0.0.0.0
    depends_on:
      - llama-server
    deploy:  # Исправлено: ресурсы теперь в разделе deploy
      resources:
        limits:
          memory: 2G
          cpus: '2'
    restart: unless-stopped
    networks:
      - servers-network

  httpd-proxy:
      image: arina/sber/httpd:2.4
      container_name: httpd-proxy
      environment:
        SERVER_NAME: "${SERVER_NAME:-localhost}"
        WEB_PROTOCOL: "${WEB_PROTOCOL:-http}"
        STREAMLIT_HOST: "${STREAMLIT_HOST:-vm-dashboard}"
        STREAMLIT_PORT: "${STREAMLIT_PORT:-8501}"
      ports:
        - "${HOST_HTTP_PORT:-80}:80"
        - "443:443"
      volumes:
        - "${LETS_ENCRYPT_DIR:-./httpd/data/letsencrypt/live/localhost}:/etc/letsencrypt/live/localhost"
        # you can put httpd.conf in docker-share folder to override
        # - ~/docker-share/apache2/conf:/usr/local/apache2/conf
      depends_on:
        - vm-dashboard
      networks:
        - servers-network
      restart: unless-stopped